.DetailedMovie {
    hr {
        border: 1px solid #092532;
        background-color: #092532;
        height: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3 {
        margin-top: 20px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}