.NotFoundPage {

    .row {
        min-height: 95vh;
        .card {
            padding: 50px 0;
            border-radius: 10px;
            box-shadow: 0 0 8px rgba(0,0,0,.12);
            background: #fff;
        }
    }
}