.Review {
    border: #00bcd4 solid 3px;
    padding: 15px;
    background-color: white;
    font-size: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
    @media (max-width: 600px) {
        padding: 5px;
    }
    p {
        margin-bottom: 8px;
    }
    .bold-text {
        font-weight: 600;
    }
    .footer {
        margin: 35px 10px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 600px) {
            justify-content: space-evenly;
        }

        .edit-delete {
            display: flex;
            justify-content: start;
            width: 50%;
            button {
                margin-right: 5px;
            }
            @media (max-width: 600px) {
                width: 100%;
               justify-content: space-evenly;
               margin-bottom: 20px;
            }
        }
        .username {
            font-weight: 600;
            color: #00bcd4;
        }
    }
}