.PrivateMovieSearchBar {
    margin: 40px 0;
    color: #f1f3f8;
    font-size: 28px;
    button {
        width: 100px;
        font-size: 15px;
        background-color:#f1f3f8;
        color: #2d4059;
        &:hover {
            background-color:#f1f3f8!important;
            color: #2d4059!important;
        }
        &:active{
            background-color:#f1f3f8!important;
            color: #2d4059!important;
        }
        &:focus{
            background-color:#f1f3f8!important;
            color: #2d4059!important;
        }
    }
}