.Top3MovieReviewsPrivate {
    .label {
        font-size: 15px;
        font-weight: 600;
        height: 100%;
        margin-top: 5px;
        text-align: center;
        .text-bold {
            color: #f08a5d;
        }
        .text-bold-audience {
            color: #00bcd4;
        }
    }
    .Movie-Img {
        button {
            margin-top: 10px;
            width: 125px;
            background-color: #66bfbf;
            &:hover,&:focus, &:active {
                background-color: #0f4c75!important;
                color: white!important;
            }
        }
    }
    @media (max-width: 992px) {
        .row .col-6{
            margin-bottom: 40px;
        }
        
    }
}