.Header {
    .navbar {
        border-bottom: 1px solid black;
        box-shadow: 0px 1px 5px #4c4c4c;
        padding: 10px;
        font-size: 20px;
       
        a {
            cursor: pointer;
        }
        .navbar-brand {
            display: flex;
            align-items: center;
            img {
                margin-right: 8px;
            }
        }
        .username {
            color: #f08a5d;
            font-weight: 600;
            margin-left: 30px; 
        }
    }
}